*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heroSection{
    position: relative;
    width: 100vw;
    height: 100vh;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #particles-js{
        position: relative;
        height: 100vh;
        background: #ffff;
        mix-blend-mode: screen;
    }
}